pymupdf==1.24.5
pdfplumber==0.11.0
easyocr==1.7.1
pillow==10.3.0
numpy==1.26.4

# Groq LLM
groq==1.1.0

# RAG (installed now, used later)
langchain==0.2.6
langchain-community==0.2.6
faiss-cpu==1.8.0
sentence-transformers==3.0.1

# Utilities
python-dotenv==1.0.1
pydantic==2.7.4